@media only screen and (max-width: 992px) {
  .input-group .form-control:last-child{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .input-group {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .input-group-addon.deletable {
      display: none;
  }
  .input-group .form-control:last-child{
    border-radius: 4px;  
  }
}