.alert-balance {
  height: 32px;
  box-shadow:  1px 1px 3px rgba(50,50,93,0.2), 0 0px 0 rgba(0,0,0,.02);
}

.input-group {
  box-shadow: 1px 1px 3px rgba(50,50,93,0.2), 0 0px 0 rgba(0,0,0,.02);
  border-radius: 4px;
}

.col-md-3, .col-md-2, .col-md-1 {
  padding-right: 0px;
  padding-left: 1%;
}

.col-md-5 {
  margin-bottom: 20px;
}

.col-md-1 {
  padding-left: 0px;
}

.notification-adjusted {
  padding: 5px;
  margin-bottom: 0px;
}

p {
  display: inline-block;
  margin-left: 4px;
  font-size: 13px;
}

i {
  font-size: 13px;
}